<div class="footer1 mt-5">
        <div class="container">
                <!-- <div class="row"> -->
                        <div class="row">
                                <div class="content">
                                <h5>SUBSCRIBE OUR NEWSLETTER
                                </h5>
                                <p>Subscribe to our Newsletter to get firts Gift voucher by our shop
                                </p>
                                <div class="subscribe mb-3 mt-5">
                                <div class="d-flex w-100">
                                    <div style="width: 60%;">
                                    <input type="text" class="w-100" placeholder="your emal address">
                                </div>
                                <div  class="subscribe-btn" style="width: 40%;">
                                    <button class="w-100">SUBSCRIBE <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                    
                                <input type="checkbox"> I agree to the terms and conditions and the privacy policy
                        </div>
                                
              <!-- </div> -->
        </div>
</div>


<div class="footer2"> 
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-2">
                <!-- <img src="assets/images/logo2.png" class="w-100 h-100"> -->
            </div>
            <div class="col-md-8 col-10">
                    <ul>
                            <li>
                                <a>
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <div class="clearfix"></div>
                
                
                        </ul>           
            </div>
            
        </div>
    </div>
</div> 

<div class="scroll">
    <i class="fa fa-comment" aria-hidden="true" (click)="openDailog(feedBackRef)"></i>
</div>

<ng-template #feedBackRef>
       <div class="feedBack">
           <a (click)="closeDialog()">
            <i class="fa fa-times" style="font-size: 24px;cursor: pointer;" aria-hidden="true"></i>

           </a>

       <h3 class="mt-5 ml-5">Enter Your FeedBack</h3>
    <mat-form-field apperance="full" class="mt-5 mb-5">
       <mat-label>Enter Your FeedBack</mat-label>
       <input type="text" matInput>
   </mat-form-field>
   <br>
   <button style="border-radius: 5px;width: 90%;">Send FeedBack</button>
</div>
</ng-template>