
<div style="position: relative;">
    <mat-sidenav-container class="example-container">

        <mat-sidenav #sidenav mode="over" closed class="example-sidenav justify-content-center text-center"
            [fixedInViewport]="true">
            <a (click)="sidenav.toggle()" style="float: right;color: rgb(2, 38, 41);margin: 5%;">
                <i class="fa fa-times" style="font-size: 24px;cursor: pointer;" aria-hidden="true"></i>
    
               </a>
               <div style="clear: both;"></div>
            <app-cart></app-cart>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- <app-home></app-home> -->
            <div class="navbar" id="navbar" style="z-index: 38;">
                <div class="container">
                    <div class="col-md-1 col-4 ml-5" style="margin: 0 7%">
                       <a routerLink="">
                        <div class="logo w-100">
                            <img src="assets/images/logo2.png" class="w-100 h-100" alt="">
                        </div>
                    </a>
                    </div>
                    <div class="col-md-9 col-6">
                        <div class="w-100">
                        <ul>
                            <li class="cart-li">
                                    <a>
                                        <!-- <button mat-icon-button (click)="sidenav.toggle()"
                                            style="outline:none;margin: -5% 0px;"> -->
                                            <i class="fa fa-cart-plus" style="font-size:22px"  aria-hidden="true" (click)="sidenav.toggle()"></i>
                                        <!-- </button> -->
                                    </a>
                                </li>
                                <li style="margin-left:4%;"><a [matMenuTriggerFor]="menu">
                                    <!-- <i i class="fa fa-ellipsis-v" aria-hidden="true" style="font-size:22px"></i> -->
                                    <i class="fa fa-align-left" aria-hidden="true"></i>

                                </a></li>
                                <li><a *ngIf="authService.isLogin()">{{authService.username}}</a></li>
                            <div class="clearfix"></div>
                            <mat-menu #menu="matMenu">
                                <a mat-menu-item>Home</a>
                                <a mat-menu-item *ngIf="!authService.isLogin()" routerLink="/login">Login</a>
                                <a mat-menu-item *ngIf="!authService.isLogin()" routerLink="/register">Register</a>
                                <a mat-menu-item *ngIf="authService.isLogin()" (click)="logout()">LogOut</a>
                            </mat-menu>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <!-- <app-home></app-home> -->
            <router-outlet (activate)="onActivate($event)"></router-outlet>
           
            <app-footer></app-footer>
            
        </mat-sidenav-content>

    </mat-sidenav-container>

    <!-- <div class="loader-container" *ngIf="loaderService.isLoading | async">
        <mat-spinner style="top: 50%;left: 50%;"></mat-spinner> 
     </div>  -->

</div>
