.header{
    background: url(../../../assets/images/landing-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .content{
        text-align: center;
    margin: 8% 0px;
    color: white;
    }
}
@media (max-width: 767px ){/* mobile & tablet*/
   
    .header .content{
        margin: 18% 0px;
    }
}