<div class="header">
    <div class="container">
        <div class="row">
            <div class="content">
            <h5 style="font-family: cursive;color: #9C7C57;font-size: 20px;">Check Out</h5>
            <p style="font-size: 25px;" class="wow swing" data-wow-duration="3s"  >Our Resturants</p>
        </div>
        </div>
    </div>
</div>

<div>
<div class="container" >
    <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let item of resturants">
            <a routerLink="/resturant/{{item.id}}" style="text-decoration: none;">
            <div class="w-100" style="height: 270px;">
                <img  [src]="item.image" class="w-100 h-100" [class]="item.style" data-wow-duration="1.5s" alt="">
            </div>
              <h5 style="color:#9C7C57;font-family: cursive;font-size: 15px;" [class]="item.style" data-wow-duration="1.5s"  data-wow-delay=".2s">{{item.Title}}</h5>
            </a>
        </div>
    </div>
</div>

    </div>
