<div class="header">
    <div class="container">
        <div class="row">
            <div class="content">
            <h5 style="font-family: cursive;color: #9C7C57;font-size: 20px;">Check Out</h5>
            <p style="font-size: 25px;" class="wow tada" data-wow-duration="4s">Our Menus</p>
        </div>
        </div>
    </div>
</div>


<!-- <div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <p style="color:#9C7C57;text-align: center;">OUR FOUNDER JOHN PHILLIPE</p>
                <h5 style="color: white;text-align: center;font-family: cursive;font-size: 20px;">UNTIL I DISCOVERED COOKING I WAS NEVER REALLY INTERESTED IN ANYTHING</h5>
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-img w-100" style="height: 230px;">
                      <img src="assets/images/08.jpg" class="w-100 h-100" alt="">
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-img w-100" style="height: 230px;">

                        <img src="assets/images/30.jpg" class="w-100 h-100" alt="">
</div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="item-img w-100" style="height: 230px;">

                        <img src="assets/images/32.jpg" class="w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="item-img w-100" style="height: 230px;">

                        <img src="assets/images/23.jpg" class="w-100 h-100" alt="">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="menu w-100" style="background: white;padding: 25px;border-bottom-left-radius: 50px;border-top-right-radius: 50px;">
                    <h5 style="color: #9C7C57;text-align: center;font-family: cursive;font-size: 20px;margin-bottom: 50px;">Signature Dishes
                    </h5>
                    <ul>
                        <li class="menu-item">
                            Salted Fried Chicken ...........
                            $20.0
                            <br>
                           Chicken / Olive Oil / Salt
                           <ul class="hidden-list">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Baked Potato Pizza ...............
                            $50.0
                            <br>
                            Potato / Bread / Cheese
                           <ul class="hidden-list">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Crab With Curry Sources ...........
                            $20.0
                            <br>
                            Crab / Potatoes / Rice
                           <ul class="hidden-list">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Imported Salmon Steak ...........
                            $40.0
                            <br>
                            Salmon / Veggies / Oil
                           <ul class="hidden-list">
                            MENU INFORMATION
                               <li>
                                Calories 580
                               </li>
                               <li>Total Fat 10g</li>
                               <li>Cholesterol 20mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end section 1 -->


<!-- <div style="margin: 7% 0;">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="menu w-100" style="background: white;padding: 25px;border-bottom-left-radius: 50px;border-top-right-radius: 50px;">
                    <h5 style="color: #9C7C57;text-align: center;font-family: cursive;font-size: 20px;margin-bottom: 50px;">Starters
                    </h5>
                    <ul>
                        <li class="menu-item">
                            Salted Fried Chicken ...........
                            $20.0
                            <br>
                           Chicken / Olive Oil / Salt
                           <ul class="hidden-list hidden-list2">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Baked Potato Pizza ...............
                            $50.0
                            <br>
                            Potato / Bread / Cheese
                           <ul class="hidden-list hidden-list2">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Crab With Curry Sources ...........
                            $20.0
                            <br>
                            Crab / Potatoes / Rice
                           <ul class="hidden-list hidden-list2">
                            MENU INFORMATION
                               <li>
                                Calories 480
                               </li>
                               <li>Total Fat 20g</li>
                               <li>Cholesterol 60mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>

                        <li class="menu-item mt-3">
                            Imported Salmon Steak ...........
                            $40.0
                            <br>
                            Salmon / Veggies / Oil
                           <ul class="hidden-list hidden-list2">
                            MENU INFORMATION
                               <li>
                                Calories 580
                               </li>
                               <li>Total Fat 10g</li>
                               <li>Cholesterol 20mg</li>
                               <li>Sodium 220 mg</li>
                               <li>Total Carbohydrates 71g</li>
                               <li>Protein 5g</li>
                               * 2,000 calories a day is used for general nutrition advice, but calorie needs vary.
                           </ul>
                        </li>
                    </ul>

                </div>
            </div>
            <div class=" col-sm-12 col-md-12 col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item-img w-100" style="height: 440px;">
                      <img src="assets/images/31.jpg" class="w-100 h-100" alt="">
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item-img w-100" style="height: 440px;">

                        <img src="assets/images/28.jpg" class="w-100 h-100" alt="">
</div>
                    </div>
                   
                </div>
            </div>
           
        </div>
    </div>
</div> -->


<div style="color: white;" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h5 style="text-align: center;color:#9C7C57;font-family: cursive;font-size: 20px;" class="wow flipInY" data-wow-duration="4s">All Menus In Our Resturants</h5>
                <!-- <img src="assets/images/logo.png" class="ser-img" alt=""> -->
            </div>
            <div class="col-md-12 mt-5" data-wow-duration="4s">
            <mat-tab-group animationDuration="2000">
                <mat-tab label="resturant A">
                     <div class="row">
                         <div class="col-md-12 mt-5">
                            <h5 style="margin-bottom:3%;text-align: center;color:#9C7C57;font-family: cursive;margin-bottom: 6%;font-size: 17px;">Our Menu In Resturant A</h5>
                         </div>
                         <div class="col-md-6">
                             <div class="d-flex w-100">
                                <div class="w-25" style="height: 90px;">
                                    <img src="assets/images/18.jpg" class="w-100 h-100" alt="">
                                </div>
                                <div class="w-75">
                                    <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                                </div>
                             </div>
                         </div>
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div class="w-25" style="height: 90px;">
                                    <img src="assets/images/12.jpg" class="w-100 h-100" alt="">
                                </div>
                                <div class="w-50">
                                    <p style="margin: 7% 3%;">Salad...................................2.50</p>
                                </div>
                             </div>
                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="d-flex w-100">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/9.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-75">
                                   <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                               </div>
                            </div>
                        </div>
                       <div class="col-md-6 mt-4">
                           <div class="d-flex">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/13.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-50">
                                   <p style="margin: 7% 3%;">Salad...................................2.50</p>
                               </div>
                            </div>
                       </div>

                       <div class="col-md-6 mt-4">
                        <div class="d-flex w-100">
                           <div class="w-25" style="height: 90px;">
                               <img src="assets/images/23.jpg" class="w-100 h-100" alt="">
                           </div>
                           <div class="w-75">
                               <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                           </div>
                        </div>
                    </div>
                   <div class="col-md-6 mt-4">
                       <div class="d-flex">
                           <div class="w-25" style="height: 90px;">
                               <img src="assets/images/30.jpg" class="w-100 h-100" alt="">
                           </div>
                           <div class="w-50">
                               <p style="margin: 10% 3%;">Salad...................................2.50</p>
                           </div>
                        </div>
                   </div>

                     </div>
                </mat-tab>
                <mat-tab label="resturant B">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                           <h5 style="margin-bottom:3%;text-align: center;color:#9C7C57;font-family: cursive;margin-bottom: 6%;font-size: 17px;">Our Menu In Resturant B</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex w-100">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/31.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-75">
                                   <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                               </div>
                            </div>
                        </div>
                       <div class="col-md-6">
                           <div class="d-flex">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/32.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-50">
                                   <p style="margin: 7% 3%;">Salad...................................2.50</p>
                               </div>
                            </div>
                       </div>

                       <div class="col-md-6 mt-4">
                           <div class="d-flex w-100">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/29.jpg" class="w-100" alt="">
                              </div>
                              <div class="w-75">
                                  <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                              </div>
                           </div>
                       </div>
                      <div class="col-md-6 mt-4">
                          <div class="d-flex">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/41.jpg" class="w-100" alt="">
                              </div>
                              <div class="w-50">
                                  <p style="margin: 7% 3%;">Salad...................................2.50</p>
                              </div>
                           </div>
                      </div>

                      <div class="col-md-6 mt-4">
                       <div class="d-flex w-100">
                          <div class="w-25" style="height: 90px;">
                              <img src="assets/images/42.jpg" class="w-100 h-100" alt="">
                          </div>
                          <div class="w-75">
                              <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                          </div>
                       </div>
                   </div>
                  <div class="col-md-6 mt-4">
                      <div class="d-flex">
                          <div class="w-25">
                              <img src="assets/images/18.jpg" class="w-100" alt="">
                          </div>
                          <div class="w-50">
                              <p style="margin: 10% 3%;">Salad...................................2.50</p>
                          </div>
                       </div>
                  </div>

                    </div>
                </mat-tab>
                <mat-tab label="resturant c">
                         
                    <div class="row">
                        <div class="col-md-12 mt-5">
                           <h5 style="margin-bottom:3%;text-align: center;color:#9C7C57;font-family: cursive;margin-bottom: 6%;font-size: 17px;">Our Menu In Resturant C</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex w-100">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/43.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-75">
                                   <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                               </div>
                            </div>
                        </div>
                       <div class="col-md-6">
                           <div class="d-flex">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/35.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-50">
                                   <p style="margin: 7% 3%;">Salad...................................2.50</p>
                               </div>
                            </div>
                       </div>

                       <div class="col-md-6 mt-4">
                           <div class="d-flex w-100">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/37.jpg" class="w-100 h-100" alt="">
                              </div>
                              <div class="w-75">
                                  <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                              </div>
                           </div>
                       </div>
                      <div class="col-md-6 mt-4">
                          <div class="d-flex">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/06.jpg" class="w-100 h-100" alt="">
                              </div>
                              <div class="w-50">
                                  <p style="margin: 7% 3%;">Salad...................................2.50</p>
                              </div>
                           </div>
                      </div>

                      <div class="col-md-6 mt-4">
                       <div class="d-flex w-100">
                          <div class="w-25" style="height: 90px;">
                              <img src="assets/images/41.jpg" class="w-100 h-100" alt="">
                          </div>
                          <div class="w-75">
                              <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                          </div>
                       </div>
                   </div>
                  <div class="col-md-6 mt-4">
                      <div class="d-flex">
                          <div class="w-25" style="height: 90px;">
                              <img src="assets/images/40.jpg" class="w-100 h-100" alt="">
                          </div>
                          <div class="w-50">
                              <p style="margin: 10% 3%;"> Salad...................................2.50</p>
                          </div>
                       </div>
                  </div>

                    </div>

                </mat-tab>
                <mat-tab label="resturant d">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                           <h5 style="margin-bottom:3%;text-align: center;color:#9C7C57;font-family: cursive;margin-bottom: 6%;font-size: 17px;">Our Menu In Resturant D</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex w-100">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/39.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-75">
                                   <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                               </div>
                            </div>
                        </div>
                       <div class="col-md-6">
                           <div class="d-flex">
                               <div class="w-25" style="height: 90px;">
                                   <img src="assets/images/head.jpg" class="w-100 h-100" alt="">
                               </div>
                               <div class="w-50">
                                   <p style="margin: 7% 3%;"> Salad...................................2.50</p>
                               </div>
                            </div>
                       </div>

                       <div class="col-md-6 mt-4">
                           <div class="d-flex w-100">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/03.jpg" class="w-100 h-100" alt="">
                              </div>
                              <div class="w-75" >
                                  <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                              </div>
                           </div>
                       </div>
                      <div class="col-md-6 mt-4">
                          <div class="d-flex">
                              <div class="w-25" style="height: 90px;">
                                  <img src="assets/images/09.jpg" class="w-100 h-100" alt="">
                              </div>
                              <div class="w-50">
                                  <p style="margin: 7% 3%;"> Salad...................................2.50</p>
                              </div>
                           </div>
                      </div>

                      <div class="col-md-6 mt-4">
                       <div class="d-flex w-100">
                          <div class="w-25" style="height: 90px;">
                              <img src="assets/images/37.jpg" class="w-100 h-100" alt="">
                          </div>
                          <div class="w-75">
                              <p style="margin: 7% 3%;">Prawn Salad...................................2.50</p>
                          </div>
                       </div>
                   </div>
                  <div class="col-md-6 mt-4">
                      <div class="d-flex">
                          <div class="w-25">
                              <img src="assets/images/18.jpg" class="w-100" alt="">
                          </div>
                          <div class="w-50">
                              <p style="margin: 10% 3%;"> Salad...................................2.50</p>
                          </div>
                       </div>
                  </div>

                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    </div>
</div>